[Unit]
Description=My Python Script
After=network.target

[Service]
WorkingDirectory=/home/pi
ExecStart=/home/pi/.pyenv/shims/python3 /home/pi/streaming.py
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
