[Unit]
Description=AdboardBooking AI service
After=network.target

[Service]
ExecStart=/usr/local/bin/adboardbookingai/run_on_boot.sh
Restart=always
RestartSec=10
StandardOutput=file:/var/log/adboardbookingai_stream.log
StandardError=file:/var/log/adboardbookingai_stream.err
User=root

[Install]
WantedBy=multi-user.target